<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alternativeinfrastructures.noise">

    <!-- Start sync services on boot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Bluetooth syncing -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- This app never uses location, but Android requires location to do a BLE scan?!
    https://stackoverflow.com/questions/33045581/location-needs-to-be-enabled-for-bluetooth-low-energy-scanning-on-android-6-0
    https://stackoverflow.com/questions/33043582/bluetooth-low-energy-startscan-on-android-6-0-does-not-find-devices/33045489#33045489
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Needed to establish Bluetooth Classic permissions without pairing -->
    <uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS" />

    <!-- False because we also plan to have Wi-Fi Direct, ultrasound, and Internet syncing -->
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application
        android:name=".NoiseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".views.ConversationList"
            android:label="@string/conversation_view_title"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".views.debug.RawMessageList"
            android:label="@string/raw_message_view_title"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <service
            android:name=".sync.bluetooth.BluetoothSyncService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".sync.BootStarter"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".sync.bluetooth.BluetoothSyncServiceManager"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>